body{
   font-family: tahoma;
}
*{margin: 0px;}
p{
    background-color: red;
    color: white;
    padding: 2px 20px;
    margin: 10px 0px;
}
ul{
    list-style: square inside url("/images/arrow.png.png");
}
ol{
    list-style: decimal inside;
    
}