body{
    background-image: url(/images/nature.jpg);
    background-size: cover;
}
.box{
    width: 800px;
    height: 500px;
    margin: 100px auto 0px auto;
    border: 10px solid #fff;
   background-image: repeating-radial-gradient( red,yellow 5%,green 10%);
}                     
h1,p{
    margin: 150px 0px;
    float: left;
    font-family: tahoma;
}
h1{font-size: 30px;}
p{font-size:20px ;margin-top: 30px;}