*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #ddd;
    font-family: tahoma;
    font-size: 20px;

}
.css, .slider, .slider img,
 .nav, .nav ul, .nav ul li, .contant{
    width:1270px;
}
.css, .slider, .slider img,
.nav ul, .nav ul li, .contant, h1, p{
    float:left;
}
.nav ul li{
    background-color: #000;
    text-align: center;
    border-right: 1px solid #fff;

}
.nav ul li a{
    text-decoration: none;
    color: #fff;
    line-height: 50px;
}
.nav ul{
    list-style-type:none ;
    display: flex;
}
.content h1{
    margin: 20px 40px;
    padding: 10px 0px;
    color: red;
    border-bottom: 8px solid red;
    width: 75%;
}
.content p{
    padding: 10px 30px;
}
.nav{
    position: sticky;
    top: -300px;
}
@media screen and(min-width:900px) {
    .nav{
        top: -565px;
    }
}