body{
    font-family: tahoma;
}
table, th, td{
    border: 1px solid gray;  
}
th,td{
    padding: 5px 15px;
}
table{
    border-collapse:collapse ;
}
tr:hover{
    background-color: gray;
}
tr:nth-child(even){
    background-color: green;
    color: white;
}

