*{margin: 0;padding: 0;}
body{
    font-family: tahoma;
    font-size: 32px;
    padding: 100px 40px 0px 0px ;
}
h1{margin-bottom: 30px;}
p{margin-top: 10px;
}
span{
    display:block ;
}
p.one{
    background-color: #ffdd00;    
}
p.one span{
    background-color: red;  
}
p.one span.one{
    display: initial;
}
p.two{
    background-color: #ffff00;
}