*{margin: 0;padding: 0;}
body{
    font-size: 24px;

}
.css{
    width: 600px;
    float: left;
}
img{
    width: 600px;
    margin: 5px 0px;
    padding: 5px 0px;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}
p.logo{
    width: 600px;
    text-align: conter;
    background-color: blue;
    color: red;
    float: left;
    padding: 10px;
    font-size: 50px;
}
p.heading{
    float: left;
    color: red;
    width: 600px;
    font-size: 200%;
   
    
}
p.para{
    width: 600px;
    float: left;
    /* font-style:oblique ; */
    /* font-variant: small-caps; */
    /* line-height: 24px; */
    font: italic small-caps bold 30px/30px arial;
}
p.para span{
    color: black;
}